@import url("https://fonts.googleapis.com/css?family=Roboto+Slab&display=swap");

$colors: (
  primary: rgba(40, 150, 90, 1),
  accent: rgba(0, 141, 213, 1),
  primary-dark: rgba(42, 96, 65, 1),
  base: rgba(17, 17, 17, 1),
  text-: rgba(234, 235, 237, 1)
);

@function color($color-name) {
  @return map-get($colors, $color-name);
}

$radius: 15px;
$margin: 10px;
$padding: 10px;

$mobile: 425px;
$tablet: 768px;
$desktop: 1024px;

@mixin mobile {
  @media (max-width: #{$mobile}) {
    @content;
  }
}

@mixin tablet {
  @media (min-width: #{$tablet}) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: #{$desktop}) {
    @content;
  }
}

html,
body {
  margin: 0;
  height: 100%;
  overflow: hidden;
  color: color(text-);
  background-color: color(base);
}

header {
  width: 100%;
  padding: $padding;
  text-align: center;
  min-height: 30px;
  background-color: lighten(color(base), 8%);
  border-bottom: 2px solid color(accent);

  * {
    display: inline;
  }

  svg {
    margin: auto 0;
    float: right;

    @include tablet() {
      display: none;
    }
  }
}

footer {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;

  text-align: center;
  padding: $padding;

  border-top: 1px solid slategray;

  a {
    color: color(text-);
    &:hover {
      text-decoration: underline;
    }
  }
}

#wrapper {
  height: 80%;
  max-height: 80%;

  @include tablet() {
    display: flex;
    flex-direction: row;

    padding: $padding;
  }

  @include desktop() {
    display: grid;
    grid-template-columns: 250px auto;
    grid-template-areas: "sidebar content";
  }
}

#sidebar {
  @keyframes slideDown {
    0% {
      transform: translateY(0);
    }
    100% {
      transform: translateY(200%);
    }
  }

  @keyframes slideUp {
    0% {
      transform: translateY(200%);
    }
    100% {
      transform: translateY(0);
    }
  }

  position: absolute;
  top: 6%;

  width: 90%;
  height: 80%;
  margin: $margin * 2;

  border-radius: $radius;
  background-color: rgba(lighten(color(base), 15%), 0.9);
  animation: slideUp 0.5s 1 0s ease-in;
  animation-fill-mode: forwards;

  @include tablet() {
    height: 100%;
    max-width: 250px;
    position: unset;
  }

  @include desktop() {
    grid-area: sidebar;
  }

  &.closed {
    @include mobile() {
      animation: slideDown 0.5s 1 0s ease-in;
      animation-fill-mode: forwards;
    }
  }

  header {
    padding: $padding / 2 $padding;
    margin-bottom: $margin;
    border-radius: $radius $radius 0 0;
    border-color: color(base);
    background-color: transparent;

    a {
      color: darkred;
      float: right;
    }

    @include tablet() {
      display: none;
    }
  }

  .content {
    padding: $padding;
    text-align: center;

    input {
      width: 100%;
      max-width: 200px;
      padding: $padding;
      color: white;
      background-color: transparent;
      border: 1px solid color(accent);
    }

    #history {
      width: 100%;
      margin: $margin auto;
      padding: $padding 0;
      border-top: 2px solid color(accent);

      .search-record {
        width: 100%;
        border-bottom: 1px solid color(base);
      }
    }
  }
}

#weather {
  height: 100%;
  width: 100%;
  margin: $margin * 2 0;
  padding: $padding;
  display: flex;

  border-radius: $radius;
  background-color: lighten(color(base), 40%);

  @include desktop() {
    grid-area: content;
    display: grid;
  }
}
